*{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html, body{
    overflow-x: hidden;
}

nav{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    }

.logo{
  padding: 20px ;
  width: 50%;
  height: 50%;
 }

 .menu{
    padding: 4%;
 }

.menu a{ 
    color: rgb(48, 48, 48);
    text-decoration: none;
    font-weight: lighter;
    margin-right: 20px;
    display: inline-block;
    transition: .2s;
}

.menu a:hover{
color: black;
transform: scale(1.30);
}

.menu u{
text-decoration: none;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  justify-content: space-evenly;
}

.pacotes{
    display: flex;
  }

  .price-card {
    margin-left: 60px;
          height: 320px;
          width: 390px;
          display: flex;
          text-align: center;
          flex-direction: column;
          justify-content: center;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0px 4px 5px 0px #13818d;
          cursor: pointer;
  }

  .capa IMG{
    position: absolute;
    height: 320px;
    width: 390px;
    text-align: center;
    transition: all 0.5s ease;
    max-width: 100%;
    background-size: cover;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;
    margin-left: 60px;
    }

    .capa img:hover{
        opacity: 0;
       }
      
      .price-card h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
      }
      
      .price-card .price {
        text-decoration: none;
        font-size: 36px;
        color: #007bff;
        margin-bottom: 20px;
      }
      
      .price-card ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
      }
      
      .price-card ul li {
        margin-bottom: 10px;
      }
      
      .price-card button {
        margin-left: 90px;
        margin-bottom: 30px;
        background-color: #007bff;
        color: #fff;
        width: 200px;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
         background-color: #13818d;
      background: linear-gradient(90deg,
      #13818d, #153d5e, #13818d
      );
      color: white;
      border-radius: 20px;

      }

      .pacotes2{
        display: flex;
      }
    
      .price-card2 {
        margin-left: 60px;
              height: 320px;
              width: 390px;
              display: flex;
              text-align: center;
              flex-direction: column;
              justify-content: center ;
              border-radius: 8px;
              overflow: hidden;
              box-shadow: 0px 4px 5px 0px #13818d;
              cursor: pointer;
      }
    
      .capa2 IMG{
        position: absolute;
        height: 320px;
        width: 390px;
        text-align: center;
        transition: all 0.5s ease;
        max-width: 100%;
        background-size: cover;
        border-radius: 8px;
        cursor: pointer;
        z-index: 1;
        margin-left: 60px;
        }
    
        .capa2 img:hover{
            opacity: 0;
           }
          
          .price-card2 h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
          }
          
          .price-card2 .price2 {
            text-decoration: none;
            font-size: 36px;
            color: #007bff;
            margin-bottom: 20px;
          }
          
          .price-card2 ul {
            list-style: none;
            padding: 0;
            margin: 20px 0;
          }
          
          .price-card2 ul li {
            margin-bottom: 10px;
          }
          
          .price-card2 button {
            margin-left: 90px;
            margin-bottom: 30px;
            background-color: #007bff;
            color: #fff;
            width: 200px;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
             background-color: #13818d;
          background: linear-gradient(90deg,
          #13818d, #153d5e, #13818d
          );
          color: white;
          border-radius: 20px;
          }

          .pacotes3{
            display: flex;
          }
        
          .price-card3 {
            margin-left: 60px;
                  height: 320px;
                  width: 390px;
                  display: flex;
                  text-align: center;
                  justify-content: center;
                  flex-direction: column;
                  border-radius: 8px;
                  overflow: hidden;
                  box-shadow: 0px 4px 5px 0px #13818d;
                  cursor: pointer;
          }
        
          .capa3 IMG{
            position: absolute;
            height: 320px;
            width: 390px;
            text-align: center;
            transition: all 0.5s ease;
            max-width: 100%;
            background-size: cover;
            border-radius: 8px;
            cursor: pointer;
            z-index: 1;
            margin-left: 60px;
            }
        
            .capa3 img:hover{
                opacity: 0;
               }
              
              .price-card3 h2 {
                font-size: 24px;
                color: #333;
                margin-bottom: 10px;
              }
              
              .price-card3 .price3{
                text-decoration: none;
                font-size: 36px;
                color: #007bff;
                margin-bottom: 20px;
              }
              
              .price-card3 ul {
                list-style: none;
                padding: 0;
                margin: 20px 0;
              }
              
              .price-card3 ul li {
                margin-bottom: 10px;
              }
              
              .price-card3 button {
                margin-left: 90px;
                margin-bottom: 30px;
                background-color: #007bff;
                color: #fff;
                width: 200px;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                 background-color: #13818d;
              background: linear-gradient(90deg,
              #13818d, #153d5e, #13818d
              );
              color: white;
              border-radius: 20px;
              }

              .promoçao{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                flex-direction: row-reverse;
                background-color: #13818d;
              }
              
              .imagempromo img{
                height: 410px;
                margin-bottom: -07px;
                margin-right: -100px;
                border-top-left-radius: 400px;;
              }
              
              .promoçao h1{
                background-image: url(/imagens/Flag_of_Mexico.svg.webp);
                background-size: cover;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                display: flex;
                font-weight: bolder;
                font-size: 100px;
              }
              
              .textopromo{
               display: list-item;
               margin-top: -50px;
              
              }

              .promoçao h1{
                text-align: center;
              }
              
              .promoçao h2{
                margin-top: -40px;
                text-align: center;
                font-size: 30px;
                font-weight: bold;
                color: white;
              }

              .promoçao h3{
                text-align: center;
              }
              
              .buttonalign{
             text-align: center;
              }

              .promoçao button {
                height: 40px;
                width: 250px;
                cursor: pointer;
                background-color: #13818d;
                border: 2px solid black;
                color: #000000;
                font-weight: bold;
                font-size: 15px;
                padding: 03px 20px;
              border-radius: 20px;
              }

              footer{
                display: flex;
                font-size: 10px;
                justify-content: space-between;
              }