*{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html, body{
    overflow-x: hidden;
}

nav{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    }

.logo{
  padding: 20px ;
  width: 50%;
  height: 50%;
 }

 .menu{
    padding: 4%;
 }

.menu a{ 
    color: rgb(48, 48, 48);
    text-decoration: none;
    font-weight: lighter;
    margin-right: 20px;
    display: inline-block;
    transition: .2s;
}

.menu a:hover{
color: black;
transform: scale(1.30);
}

.menu u{
text-decoration: none;
}

.hosps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hosp1{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 450px;
    background: #a7d8dd;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 1px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.hosp1 img{
    height: 150px;
    border-radius: 20px;
    transition: transform 0.5s ease-out;
    animation: pulse 1.8s ;
  position: absolute;
  width: 200px;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.hosp1 img:hover{
  transform: translateX(115%);
}

.fila1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.fila2{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-right: 5%;
margin-bottom: 5%;
}

.hosp1 h1{
    color: #004249;
    font-size: 40px;
}

.hosp1 h3{
  font-size: 25px;
  font-weight: bold;

 }

.hosp1 p{

  font-size: larger;
}

.hosp1 button{
    border: 0;
    background-color: #13818d;
    background: linear-gradient(90deg,
    #13818d, #153d5e, #13818d
    );
    height: 50px;
    color: white;
    border-radius: 20px;
  padding: 10px 40px;
   cursor: pointer;
}

.hosp2{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 450px;
    background: #a7d8dd;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 1px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}


.hosp2 img{
    height: 150px;
    border-radius: 20px;
    transition: transform 0.5s ease-out;
    animation: pulse 1.8s ;
  position: absolute;
  width: 200px;
}

.hosp2 img:hover{
  transform: translateX(115%);
}

.fila12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.fila22{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-right: 8%;
margin-bottom: 5%;
}

.hosp2 h1{
    color: #004249;
    font-size: 40px;
}

.hosp2 h3{
  font-size: 25px;
  font-weight: bold;

 }

.hosp2 p{

  font-size: larger;
}

.hosp2 button{
    border: 0;
    background-color: #13818d;
    background: linear-gradient(90deg,
    #13818d, #153d5e, #13818d
    );
    height: 50px;
    color: white;
    border-radius: 20px;
  padding: 10px 40px;
   cursor: pointer;
}

.hosp3{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 450px;
    background: #a7d8dd;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 1px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}


.hosp3 img{
    height: 150px;
    border-radius: 20px;
    transition: transform 0.5s ease-out;
    animation: pulse 1.8s ;
  position: absolute;
  width: 200px;
}

.hosp3 img:hover{
  transform: translateX(115%);
}

.fila13{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.fila23{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-right: 13%;
margin-bottom: 5%;
}

.hosp3 h1{
    color: #004249;
    font-size: 40px;
}

.hosp3 h3{
  font-size: 25px;
  font-weight: bold;

 }

.hosp3 p{

  font-size: larger;
}

.hosp3 button{
    border: 0;
    background-color: #13818d;
    background: linear-gradient(90deg,
    #13818d, #153d5e, #13818d
    );
    height: 50px;
    color: white;
    border-radius: 20px;
  padding: 10px 40px;
   cursor: pointer;
}

.hosp4{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 450px;
    background: #a7d8dd;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 1px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}


.hosp4 img{
    height: 150px;
    border-radius: 20px;
    transition: transform 0.5s ease-out;
    animation: pulse 1.8s ;
  position: absolute;
  width: 200px;
}

.hosp4 img:hover{
  transform: translateX(115%);
}

.fila14{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.fila24{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-right: 9%;
margin-bottom: 5%;
}

.hosp4 h1{
    color: #004249;
    font-size: 40px;
}

.hosp4 h3{
  font-size: 25px;
  font-weight: bold;

 }

.hosp4 p{

  font-size: larger;
}

.hosp4 button{
    border: 0;
    background-color: #13818d;
    background: linear-gradient(90deg,
    #13818d, #153d5e, #13818d
    );
    height: 50px;
    color: white;
    border-radius: 20px;
  padding: 10px 40px;
   cursor: pointer;
}

footer{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}